img.computers {
  width: 119px;
  height: 119px;
  float: right;
  margin-top: -95px;
}

p.connect {
  float: right;
  margin-right: 139px;
}

p.welcome {
  margin-left: 139px;
  margin-top: -75px;
  margin-bottom: 40px;
}

img.jump {
  width: 119px;
  height: 119px;
}
